document.getElementById('conversait_area').innerHTML = 
[
  "<img src='{{resource "/img/m/logo3.png"}}' style='width: 120px;margin: 20px auto;display:block;-webkit-transform: rotate(200deg);-moz-transform: rotate(200deg);-ms-transform: rotate(200deg);-o-transform: rotate(200deg);filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2.2);' />",
  "<p style='text-align:center;'>BurnZone Commenting is temporarily down for maintenance. </p>",
  "<p style='text-align:center;'>Don't worry, we'll bring it up in a moment. Thank you for your patience!</p>"
].join("");
