<html>
<head>
  <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,800italic,800,700italic,700">
  <title>BurnZone will be back soon!</title>
</head>
<style type="text/css">
  body{
    background: #232A34;
    color: #f2f2f2;
    text-align: center;
    padding-top: 15%;
    font-family: 'Open Sans',sans-serif;
  }
  img{
    width: 150px;
    margin: 0 auto;
    -webkit-transform: rotate(200deg);
    /* Firefox */
    -moz-transform: rotate(200deg);

    /* IE */
    -ms-transform: rotate(200deg);

    /* Opera */
    -o-transform: rotate(200deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2.2);
  }
  h1{
    font-weight: 300;
    font-size: 40px;
    text-shadow: 2px 2px 1px #151515;
  }
  p{
    color: #adadad;
    margin:0 auto;
    font-weight: 100;
  }
</style>
<body>
  <img src="{{resource "/img/m/logo3.png"}}"/>
  <h1>BurnZone is temporarily down for maintenance. </h1>
  <p>Don't worry, we'll bring it up in a moment. Thank you for your patience!</p>
</body>
</html>
