{{#partial "title"}} BurnZone {{/partial}}
{{#partial "content"}}

<div id="error_page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- <div class="well well-lg error_container"> -->
          <p>
            <i class="fa fa-exclamation-triangle"></i>
            The page you are requesting does not exist.
          </p>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>

{{/partial}}
{{> marketing/layout}}
