{{#partial "admin_content"}}

<h3>Analytics</h3>
<hr/>
<div class="alert alert-warning">
  The analytics functionality is not available at this moment.
  We are currently upgrading our analytics platform.
</div>

{{/partial}}

{{> marketing/admin}}
