{{#partial "admin_content"}}
<div class="tab-pane active installation_instructions" id="tab2">

  <h3>Improve your Blogger site with BurnZone Commenting!</h3>

  <p>Engage your users and get more comments with the BurnZone competitive commenting widget.</p>

  <p>Supercharge your Blogger site with the BurnZone competitive commenting widget.</p>

  <p>BurnZone engages your blog visitors and increases comments by spurring discussion, debate, questions, and – most importantly – competition. Check out <a href="/">our demo on the home page</a> to discover more BurnZone competitive commenting features.</p>

</div>
{{/partial}}
{{> marketing/install}}
