{{#partial "title"}} BurnZone {{/partial}}
{{#partial "content"}}

<div id="features">
  <section id="main_features">
    <div class="container">
      <h1>Ignite your online community with BurnZone’s competitive commenting system.</h1>
      <p class="lead"><strong>Increase engagement and traffic.</strong> BurnZone revs up your community engagement by transforming your commenting system into an action-packed battle of wit. Comment challenges, community questions, nesting comments, and the ever-changing point leader board keeps users coming back for more, while our advanced social media integration increases traffic by allowing users to recruit their Facebook and Twitter friends to the conversation.</p>
      <div class="row">
        <div class="col-md-4 feature">
            <img src="{{resource "/img/m/feature_challenge.png"}}" alt="BurnZone Commenting allows you to challenge users" title="BurnZone Commenting allows you to challenge users" class="thumb" />
            <h3>
              Challenge Users
            </h3>
            <p class="description">
                Our comment system presents users with the capability to challenge another user's comment. Users face each other in a one-on-one challenge for votes in which the community awards points to the user with whom they most agree.
            </p>
        </div>
        <div class="col-md-4 feature">
            <img src="{{resource "/img/m/feature_question.png"}}" alt="With our comment system, you can easily ask questions!" title="With our comment system, you can easily ask questions!" class="thumb" />
            <h3>
              Community Questions
            </h3>
            <p class="description">
                When commenters ask questions to the online community, these questions are spotlighted to stand out from regular comments, drawing users to answer them. The community awards points to the users with the best answers.
            </p>
        </div>
        <div class="col-md-4 feature">
            <img src="{{resource "/img/m/feature_leaderboard.png"}}" alt="The BurnZone comment system rewards activities with points" title="The BurnZone comment system rewards activities with points" class="thumb" />
            <h3>
              Ranking System
            </h3>
            <p class="description">
                Users build their reputation in the online community by winning points from other readers through comments, challenges, and answers to questions. These points are displayed in a real-time point leader board in the BurnZone sidebar.
            </p>
        </div>
      </div>
    </div>
  </section>

  <!-- ADDITIONAL FEATURES -->
  <section id="additional_features">
    <div class="container">
      <h2>Additional BurnZone Features</h2>
      <div class="row">
        <div class="col-md-8">

          <div class="row">
            <div class="col-md-6 additional_feature">
              <i class="fa fa-cloud-download fa-4x"></i>
              <h4>Cloud Hosted</h4>
              <p>
                No hosting or server maintenance is required to install and use BurnZone. Our managed service automatically scales to meet your website traffic and provides fast load time.
              </p>
            </div>
            <div class="col-md-6 additional_feature">
              <i class="fa fa-wrench fa-4x"></i>
              <h4>Moderator Tools</h4>
              <p>
                You have several options for comment moderation, including the option to allow the community to self-moderate content. You may also choose to require first-time posters to gain approval before commenting.
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 additional_feature">
              <i class="fa fa-mobile fa-4x"></i>
              <h4>Mobile - optimized UI</h4>
              <p>
                BurnZone has a mobile-specific user interface tailored for mouseless browsing and optimized for a smaller screen size.
              </p>
            </div>
            <div class="col-md-6 additional_feature">
              <i class="fa fa-lock fa-4x"></i>
              <h4>Secure Single Sign On (SSO)</h4>
              <p>
                Sites can integrate BurnZone commenting with their existing user base so users don't have to create a new, separate account.
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 additional_feature">
              <i class="fa fa-group fa-4x"></i>
              <h4>Social Media</h4>
              <p>
                BurnZone integrates with major social media platforms, allowing users to comment through their Facebook and Twitter accounts. Users also have the ability to recruit their Facebook and Twitter friends to comments, challenges, or questions through social sharing.
              </p>
            </div>
            <div class="col-md-6 additional_feature">
              <i class="fa fa-adjust fa-4x"></i>
              <h4>Light and Dark Themes</h4>
              <p>
                BurnZone Commenting looks good on both light and dark websites! The comment system inherits some of your site styles and also automatically decides what theme to be displayed on your site, in order to provide a good experience and readability.
              </p>
            </div>
          </div>
        </div>
        {{> marketing/plugins_container}}
      </div>

    </div>
  </section>
</div>

{{/partial}}
{{> marketing/layout}}
