<!-- starts footer -->
<footer id="footer">
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="footer-ribbon">
          <a href="http://help.theburn-zone.com/" target="_blank">Get in Touch</a>
        </div>
        <div class="col-md-3 col-sm-3">
          <p>© 2015 BurnZone</p>
        </div>
        <div class="col-md-9 col-sm-9">
          <nav id="sub-menu">
            <ul>
              <li><a href="/about">About</a></li>
              <li><a href="/privacy">Privacy</a></li>
              <li><a href="/terms">Terms of Use</a></li>
              <li class="social">
                <a>Social</a>
                <a href="http://www.facebook.com/pages/Burnzone/526512404025967" target="_blank" class="fb">
                  <i class="fa fa-facebook"></i>
                </a>
                <a href="https://twitter.com/Burn_Zone" target="_blank" class="tw">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</footer>