{{#partial "title"}} BurnZone Forums Demo{{/partial}}
{{#partial "content"}}
<div class="forums-demo">
<!-- DEMO -->
  <div class="container">
    <div class="tc">
      <h2>Forum</h2>
      <p>Welcome to our sandbox forum, a place to play and test our features. Please be respectful and If you see anything here that is out of bounds, please flag it. Tag @burn_zone for questions, issues or feedback.</p>
    </div>
    <div class="conversait_area" data-conversait-app-type="widget:discovery"></div>
    <div class="conversait_area" data-conversait-app-type="forum"></div>
    {{{script}}}
    <p class="tc"><em>This demo is not fully functioning. Install BZ to get the fully functioning version.</em></p>
    <div class="row tc">
      <div class="col-md-12"><a href="/signup" class="content_cta btn btn-lg orange">Get BurnZone Now!</a></div>
    </div>
  </div>
</div>
{{/partial}}
{{> marketing/layout}}
