<div class="col-md-3 additional_section">
  <a href="/signup" class="content_cta btn btn-medium btn-lg">Get BurnZone Now!</a>
  <small>Install BurnZone on your website today, it's free!</small>
  <h3 class="tc">Installation Instructions</h3>
  {{> marketing/plugin_platforms}}
</div>
