{{#partial "title"}} BurnZone Pricing{{/partial}}
{{#partial "content"}}

<div class="container" id="pricing">
  <div class="pricing-page">
    <div class="row">
      <div class="pricing-table">
        <div class="col-md-6 col-sm-12 free-plan">
          <div class="plan">
            <h3>Commenting & Forums <span class="price-free">ALWAYS <br> FREE</span></h3>
            <a class="btn btn-lg" href="/signup">Get BurnZone</a>
            <ul>
            	<li>Unlimited Traffic</li>
            	<li>Unlimited Users</li>
            	<li>No Ads</li>
            	<li>Spam Protected</li>
            	<li>Multiple Admin</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="plan">
            <h3>Premium <br>
              <span>30 Day Free Trial <br> <small>(No Credit Card)</small></span>
              <span class="price-premium">20$ <br> monthly</span></h3>
            <a class="btn btn-lg" href="/signup">Get BurnZone</a>
            <ul>
              <li>
                Private Forums
                <a class="pull-right" rel="tooltip" title="Possibility to create private forums." data-placement="top">[?]</a>
              </li>
              <li>
                Yolos
                <a class="pull-right" rel="tooltip" title="Users can create yolos." data-placement="top">[?]</a>
              </li>
              <li>
                Subtle Branding
                <a class="pull-right" rel="tooltip" title="Remove BurnZone branding from the commenting area." data-placement="top">[?]</a>
              </li>
              <li>
                Customize Links, Realtime & Upvote & Downvote Colors
                <a class="pull-right" rel="tooltip" title="Possibility to add custom colors" data-placement="top">[?]</a>
              </li>
              <li>
                Email Name
                <a class="pull-right" rel="tooltip" title="Custom sender name in BurnZone related e-mails." data-placement="top">[?]</a>
              </li>
              <li>
                Email Address
                <a class="pull-right" rel="tooltip" title="Custom email address to be used in BurnZone related e-mails." data-placement="top">[?]</a>
              </li>
            </ul>
          </div>
          <small>*More premium features coming soon!</small>
        </div>
      </div>
    </div>
  </div>
</div>

{{/partial}}
{{> marketing/layout}}