{{#partial "title"}} BurnZone {{/partial}}
{{#partial "content"}}

<div id="privacy">

  <div class="container">

    <h2>Privacy</h2>

    <div class="row">

      <div class="col-md-12">

        This privacy notice discloses the privacy practices for theburn-zone.com. This privacy notice applies solely to information collected by this web site.

        <h3>Information Collection, Use, and Sharing</h3>

        The site administrators and BurnZone are owners of the information collected on this site. We only have access to/collect information that end users voluntarily give us via email or other direct contact from you. 
        We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request.
        Your Access to and Control Over Information 
        You may opt out of any future contacts from us at any time. You can do the following at any time by updating the notification settings in your profile.  This will limit any future communication.

        <div class="tc">
            <img src="{{resource "/img/m/privacy_pic.png"}}" class="img-polaroid" />
        </div>

        <h3>Use of Cookies</h3>
        BurnZone uses cookies to better the users experience while visiting the website. Where applicable this website uses a cookie control system allowing the user on their first visit to the website to allow or disallow the use of cookies on their computer / device. This complies with recent legislation requirements for website's to obtain explicit consent from users before leaving behind or reading files such as cookies on a users computer / device.

        <h3>Links</h3>
        BurnZone may contain links to other web sites. We are not responsible for the privacy practices of other web sites. We encourage our users to be aware when they leave our site to read the privacy statements of each and every web site that collects personally identifiable information. This Privacy Policy applies solely to information collected by BurnZone.

        Adverts and Sponsored Links
        BurnZone may contain sponsored links and adverts. These will typically be served through our advertising partners, to whom may have detailed privacy policies relating directly to the adverts they serve.

        Clicking on any such adverts will send you to the advertisers website through a referral program which may use cookies and will tracks the number of referrals sent from this website. This may include the use of cookies which may in turn be saved on your computers hard drive. Users should therefore note they click on sponsored external links at their own risk and this website and it's owners cannot be held liable for any damages or implications caused by visiting any external links mentioned.

        <h3>Social Media Platforms</h3>
        Communication, engagement and actions taken through external social media platforms that this website and it's owners participate on are custom to the terms and conditions as well as the privacy policies held with each social media platform respectively.
        Users are advised to use social media platforms wisely and communicate / engage upon them with due care and caution in regard to their own privacy and personal details. This website nor it's owners will ever ask for personal or sensitive information through social media platforms and encourage users wishing to discuss sensitive details to contact them through primary communication channels such as by telephone or email.
        This website may use social sharing buttons which help share web content directly from web pages to the social media platform in question. Users are advised before using such social sharing buttons that they do so at their own discretion and note that the social media platform may track and save your request to share a web page respectively through your social media platform account.

        <h3>Shortened Links in Social Media</h3>
        This website and it's owners through their social media platform accounts may share web links to relevant web pages. By default some social media platforms shorten lengthy url's [web addresses] (this is an example: http://bit.ly/zyVUBo). 
        Users are advised to take caution and good judgement before clicking any shortened url's published on social media platforms by this website and it's owners. Despite the best efforts to ensure only genuine url's are published many social media platforms are prone to spam and hacking and therefore this website and it's owners cannot be held liable for any damages or implications caused by visiting any shortened links.

      </div>

    </div>

  </div>
</div>
{{/partial}}
{{> marketing/layout}}
