{{#partial "title"}} Reset password {{/partial}}
{{#partial "content"}}
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="panel panel-default reset_psw">
        <div class="panel-heading">
          <h4 class="tc">Reset your password</h4>
        </div>
        <div class="panel-body">
          <div class="form">
            <div class="alert alert-success">
              Email sent
            </div>
            <p>You should receive an email with further instructions at the address specified. Please follow the link in the email to reset your password.</p>

            <p>If you wait too long without receiving an email, you can <a href="/auth/reset">retry</a> the process.</p>
          </div>
          <p class="sidenote already">Don't have an account? <a href="/signup{{query "popup" "redirect"}}"> Sign up</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

{{/partial}}
{{> marketing/layout}}
