{{#partial "title"}} Reset password {{/partial}}
{{#partial "content"}}
<div id="box_reset">
  <div class="container">
      <div class="span12 box_wrapper">
          <div class="span12 box">
              <div>
                  <div class="head">
                      <h4>Enter your email address below to receive instructions on how to reset your password.</h4>
                  </div>
                  <div class="form">
                      <form>
                          <input type="text" placeholder="Email address"/>
                          <input type="submit" class="btn" value="Reset password"/>
                      </form>
                  </div>
              </div>
          </div>
          <p class="already">Know your password? <a href="/auth/signin"> Sign in</a></p>
      </div>
  </div>
</div>
{{/partial}}
{{> marketing/layout}}
