{{#partial "title"}} BurnZone Sports {{/partial}}
{{#partial "content"}}
<div class="commenting-demo">
<!-- DEMO -->
  <div class="container">
    <div class="col-md-12">
      <p class="lead tc"><b>Why BurnZone is the best sports commenting & forums platform period.</b></p>
      <div class="video-sports">
        <div id="player"></div>
      </div>
      <div class="row">
        <div class="tc col-md-8">
          <h3 class="semi-bold">Demo</h3>
        </div>
        <div class="col-md-8">
          <script type="text/javascript">
            var conversait_sitename = 'burnzonedemo';
          </script>
          <div class="conversait_area" data-conversait-app-type="widget:discovery"></div>
          <div class="conversait_area" data-conversait-app-type="article_demo"></div>
          {{{script}}}
          <p class="tc"><em>This demo is not fully functioning. Install BZ to get the fully functioning version.</em></p>
        </div>
        <div class="col-md-4">
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    <i class="fa fa-question"></i>
                    Ask Questions
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="accordion-body collapse in">
                <div class="panel-body">
                  Propose a question to the community and offer points to the best answer by adding a “?” in the commenting area.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    <i class="fa fa-fire"></i>
                    Challenge Comments
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="accordion-body collapse">
                <div class="panel-body">
                  The Challenge link enables users to dispute comments in a user vs user platform. Points are awarded by the community to each user to determine the winner.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                    <i class="fa fa-money"></i>
                    Submit Yolo
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="accordion-body collapse">
                <div class="panel-body">
                  Submit a Yolo to propose a wager by checking the "Submit a Yolo" box. The Yolo feature allows users to propose a wager to specific users or the entire community and risk winning or losing points.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                    <i class="fa fa-fire"></i>
                    Ignite Comments
                  </a>
                </h4>
              </div>
              <div id="collapseFour" class="accordion-body collapse">
                <div class="panel-body">
                  The Ignite Link rewards users for outstanding content by highlighting the comment as “Burning” and awards both users 30 days of premium features.<a target='_blank' href='http://help.theburn-zone.com/customer/portal/articles/1944062'>Learn more here</a></p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                    <i class="fa fa-fire"></i>
                    Burning Tab
                  </a>
                </h4>
              </div>
              <div id="collapseFive" class="accordion-body collapse">
                <div class="panel-body">
                  The Burning tab displays all Burning comments that have been Ignited for outstanding content.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                    <i class="fa fa-certificate"></i>
                    Promote Comments
                  </a>
                </h4>
              </div>
              <div id="collapseSix" class="accordion-body collapse">
                <div class="panel-body">
                  Promote comments to remain at the top of the thread by checking the “Promote with” box. Only 3 promoted comments per thread so be sure to offer enough points to ensure your comment is promoted.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                    <i class="fa fa-bookmark"></i>
                    Badges
                  </a>
                </h4>
              </div>
              <div id="collapseSeven" class="accordion-body collapse">
                <div class="panel-body">
                  Badges are earned for positive contribution in the community. Badges are configured in the admin portal and are customizable for each community.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
                    <i class="fa fa-sort-amount-asc"></i>
                    Leaderboard
                  </a>
                </h4>
              </div>
              <div id="collapseEight" class="accordion-body collapse">
                <div class="panel-body">
                  Users that receive points for positive contribution are featured on your leaderboard. Leaderboards can be configured and customized to community points, badges and competitions.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
                    <i class="fa fa-gift"></i>
                    Competitions
                  </a>
                </h4>
              </div>
              <div id="collapseNine" class="accordion-body collapse">
                <div class="panel-body">
                  Create a community competition for users to compete during a specified time to win a prize. Competitions are set up in the admin portal and may be customized for your community.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
                    <i class="fa fa-share"></i>
                    Share comments on social media
                  </a>
                </h4>
              </div>
              <div id="collapseTen" class="accordion-body collapse">
                <div class="panel-body">
                  Recruit Facebook friends and Twitter followers to conversations by simply clicking the Share link and selecting the appropriate icon.
                </div>
              </div>
            </div>
          </div>
          <div class="row tc">
            <a href="/signup" class="content_cta btn btn-lg orange">Get BurnZone Now!</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="http://www.youtube.com/player_api"></script>
<script type="text/javascript">
  Burnzone.onstart = 'sportsVideo';
</script>

{{/partial}}

{{> marketing/layout}}
