{{#partial "title"}} BurnZone {{/partial}}
{{#partial "content"}}

<div id="terms">

  <div class="container">

    <h2>Terms of Use</h2>

    <div class="row">

      <div class="col-md-12">

        <h3>1. Terms</h3>
        By accessing this web site, you are agreeing to be bound by these web site Terms and Conditions of Use, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this web site are protected by applicable copyright and trade mark law.

        <h3>2. Disclaimer</h3>
        The materials on BurnZone's web site are provided "as is". BurnZone makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, BurnZone does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.

        <h3>3. Limitations</h3>
        In no event shall BurnZone or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on BurnZone's Internet site, even if BurnZone or a BurnZone authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.

        <h3>4. Revisions and Errata</h3>
        The materials appearing on BurnZone's web site could include technical, typographical, or photographic errors. BurnZone does not warrant that any of the materials on its web site are accurate, complete, or current. BurnZone may make changes to the materials contained on its web site at any time without notice. BurnZone does not, however, make any commitment to update the materials.

        <h3>5. Links</h3>
        BurnZone has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by BurnZone of the site. Use of any such linked web site is at the user's own risk.

        <h3>6. Site Terms of Use Modifications</h3>
        BurnZone may revise these terms of use for its web site at any time without notice. By using this web site you are agreeing to be bound by the then current version of these Terms and Conditions of Use.

        <h3>7. Governing Law</h3>
        Any claim relating to BurnZone's web site shall be governed by the laws of the State of Utah without regard to its conflict of law provisions.
        General Terms and Conditions applicable to Use of a Web Site.

      </div>

    </div>

  </div>
</div>
{{/partial}}
{{> marketing/layout}}
