.comments_view
  position relative

.comment_wrapper
.challenge_view
  // border-bottom 1px solid bootstrapLightGray
  padding-bottom 10px
  margin-bottom 10px
  .delete
  .clearflags
    margin-right 10px

.comment_view
.challenge_view
  .author_image_container
  .author_image
    width 25px
    height 25px
    margin 0 10px 5px 0
  .text
    markdown()
  footer
    font-size 10px
    line-height 15px
    margin 5px 0 0
    padding 0

.challenged_note
  vertical-align top
  margin 0 5px

.comments_view
.allComments_view
  .challenge_view
    .challenger_view
    .challenged_view
      display inline-block
  .comments
    overflow auto
    height 500px
    padding-bottom 30px

.visit_conversation
  a:hover
    text-decoration none

.comment_view.DELETED
  opacity 0.5
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  -moz-opacity 0.5 /* Netscape */
