.competitions_view
  .competition-action
    .btn
      margin-bottom 10px

#input_competition_verified
#input_competition_share
  display inline
  margin-right 10px
.btn.save-competition
  margin-right 10px
