.profiles_view
  position relative
  .profiles
    overflow auto
    height 500px
  .control-bar
    margin-bottom 10px
    .refresh-btn-group
      margin-right 20px

.profile_view
  input[type="checkbox"]
    margin-top 0px
  input.make_mod
    margin-left 15px
  margin 15px 15px 0
  border-bottom 1px solid bootstrapLightGray
  padding 10px 0
  .user_avatar
    width 25px
    height 25px
    margin-right 2%
    img
      width inherit
  .name_column
    margin-right 15%
    width 125px
  .points_no
    margin-right 17%
    width 80px
    
