<button class="btn refresh"><i class="fa fa-refresh"></i> Refresh</button>
<div class="clear"></div>
<div class="loading_screen">
  <i class="fa fa-spinner fa-spin"></i>
</div>
<div class="comments"></div>
