<div class="btn-toolbar">
  <div class="btn-group">
    <button class="add-competition btn btn-success" title="{{translate "title_add_competition"}}"><i class="fa fa-plus"></i> {{translate "competition_add"}}</button>
  </div>
</div>
<div class="new-competition"></div>
<div class="loading_screen">
  <i class="fa fa-spinner fa-spin"></i>
</div>
<hr>
<div class="competitions"></div>
