<form action="#" class="form-inline mod_subscription">
  <input type="checkbox" name="subscribe_comments" id="subscribe_comments" value="1" />
  <label for="subscribe_comments">{{translate "subscribe_site_comments"}}</label>
</form>
