<p>Statistics about people that have subscribed for new conversations on your site.</p>

<div class="text-label">Total:</div> <strong class="no-subscribers">0</strong>
<br/>
<div class="text-label">Verified:</div> <strong class="no-subscribers-v">0</strong>
<br/>
<div class="text-label">Verified and active:</div> <strong class="no-subscribers-va">0</strong>
<br/>

<div class="export_box">
  <a class="btn btn-default" href="{{siteUrl}}/subscriptions/export?format=csv">
    <i class="fa fa-arrow-up"></i>
    {{translate 'export_to_csv'}}
  </a>
  <small><em>Only verified and active subcribers, one column (email)</em></small>
</div>
