<div class="user_avatar pull-left">
  <img class="author_image" src="{{avatar model.attributes}}" />
</div>

<div class="name name_column pull-left">
  <strong>{{model.attributes.name}}</strong>
  <span class="not_verified_marker label" title="This user hasn't verified his email address.">Not verified</span>
</div>
