<h1>New content awaiting for your approval</h1>
<h3>There is new content awaiting for approval on site <strong>{{= siteName }}</strong>: </h3>
<p>
    <strong>{{= status.comments }}</strong> new comments (including questions and challenges)
</p>
<p class="bodyFooter">
    <% include burnzonefooter_html %>
</p>
                                            
