<h1>
  Yolo sent to moderation
</h1>
<h3>A Yolo has been sent to moderation at <a href="{{= url }}">{{= siteName }}: {{= conversationTitle }}</a></h3>
<p>
    {{ if(comment.ptext) { }}
        {{- comment.ptext }}
    {{ } else { }}
        {{= comment.text }}
    {{ } }}
</p>
<p class="bodyFooter">
    <% include burnzonefooter_html %>
</p>
                                            
