<h1>Like status for today</h1>
<p>
    Your comments have been liked {{= status.up }} times and down-liked {{= status.down }} times during the last day.
</p>
<p class="bodyFooter">
    <% include burnzonefooter_html %>
</p>
                                            
