<h1>Challenge lost</h1>
<h3>You lost a challenge at <a href="{{= url }}">{{= siteName}}: {{= conversationTitle}}</a></h3>
<p>
    {{ if(challenge.challenger.ptext) { }}
        {{- challenge.challenger.ptext }}
    {{ } else { }}
        {{= challenge.challenger.text }}
    {{ } }}
</p>
<strong>Point status:</strong> {{= nameWinner }} {{= no_votesWinner }} - {{= no_votesLoser }} {{= nameLoser }} (You)
<p class="bodyFooter">
    <% include burnzonefooter_html %>
</p>
                                            
