Moderate this comment at the <a href="http://{{= siteName }}.{{= config.serverHostNoHTTP }}/admin/moderator">moderator console</a>. You can also moderate by replying to this email with one word on the first line. To approve, reply with 'approve'. To delete, reply with 'delete'. To mark the comment as spam, reply with 'spam'.
