<h1>New challenge</h1>
<h3>{{= (challenge.challenger.author || challenge.challenger.guest).name }} challenged at <a href="{{= url }}">{{= siteName}}: {{= conversationTitle}}</a> </h3>
<p>
    {{ if(challenge.challenger.ptext) { }}
        {{- challenge.challenger.ptext }}
    {{ } else { }}
        {{= challenge.challenger.text }}
    {{ } }}
</p>
<p class="bodyFooter">
    <% include burnzonefooter_html %>
    <br>
    <% include mod_subscription_footer_html %>
</p>
                                            
