<p>Hi {{= userName }},</p>
<p>
  Thank you for joining the BurnZone platform! We are excited to have {{= siteName }} as a part of our network.
</p>
<p>
  You can find weekly updates about new features or benefits that we will be adding to our system on our <a href="http://blog.theburn-zone.com/">blog</a>
</p>
<p>
  Please feel free to let us know if we can assist you in any way and please let us know if you have feedback for us as we are always looking to improve.
</p>
Thanks<br/>
Brady Decker<br/>
Director of Sales<br/>
c.801.310.1599<br/>
<a href="{{= config.serverHost}}">BurnZone</a>
