<h1>New question</h1>
<h3>There is a new question at <a href="{{= url }}">{{= siteName}}: {{= conversationTitle}}</a></h3>
<p>{{= text }}</p>
<p class="bodyFooter">
    <% include burnzonefooter_html %>
    <br>
    <% include mod_subscription_footer_html %>
</p>
                                            
