<h1>Your challenge will end</h1>
<p>One of the challenges that you participate in on {{= challenge.siteName }} will end in {{= timeFromNow }}. You can write more arguments in order to get more votes. <a href="{{= url }}">Go to the challenge</a>.</p>
<p class="bodyFooter">
    <% include burnzonefooter_html %>
</p>
                                            
