<h1>Password reset</h1>
<p>
    You have requested to reset your password on Burnzone Commenting. Please follow the link below in order to complete your request. <br />
    <a href="{{= config.serverHost }}/auth/reset/{{= token }}">{{= config.serverHost }}/auth/reset/{{= token }}</a> <br />
    If you did not requested to reset your password, please ignore this email.
</p>
<p class="bodyFooter">
    <% include burnzonefooter_html %>
</p>
                                            
