<h1>Challenge won!</h1>
<h3>You won a challenge at <a href="{{= url }}">{{= siteName}}: {{= conversationTitle}}</a></h3>
<p>
    {{ if(challenge.challenger.ptext) { }}
        {{- challenge.challenger.ptext }}
    {{ } else { }}
        {{= challenge.challenger.text }}
    {{ } }}
</p>
<strong>Point status</strong>: {{= nameWinner }} (You) {{= no_votesWinner }} - {{= no_votesLoser }} {{= nameLoser }}
<p class="bodyFooter">
    <% include burnzonefooter_html %>
</p>
                                            
