<!DOCTYPE html>
<html>

<head>
  <title>{{#block "title"}} BurnZone Commenting System - ZEUS mode{{/block}}</title>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" type="text/css" href="{{resource "/css/bootstrap.css"}}"/>
</head>

<body>
  {{> zeus/warning}}

  <div class="navbar">
    <div class="navbar-inner">
      <ul class="nav">
        <li><a href="/zeus/sites">Sites</a></li>
        <li><a href="#">Analytics</a></li>
        <li><a href="#">Emails</a></li>
        <li><a href="/zeus/logs">Logs</a></li>
      </ul>
    </div>
  </div>

  {{#block "content"}}
  {{/block}}

  <script src="{{resource "/js/zeus-vendor.js"}}"></script>
  <script src="{{resource "/js/zeus.js"}}"></script>

</body>
</html>
