<div class="alert alert-error">
<img class="pull-left span3" src="{{resource "/img/zeus/sparta.jpg"}}" />
<h3>You are in Zeus Mode (a.k.a. God Mode)! You have the power to do dangerous things, so press the buttons only if you know what you're doing!!!</h2>
<h4>This application runs on the same servers as the commenting engine. Some of these operations are resource hungry, so keep the navigation to a minimum.</h3>
</div>
<hr/>
<br/>
