//Stylesheet used for adding variables in our stylesheets instead of hard coding colors

/*** Colors ***/

mainColor = #333333
inhibited = #999999
darkInhibited = #BCBCBC
lightGray = #DEDEDE
lighterGray = #CCCCCC
lightGray2 = #f3f3f5
lightGrayBackground = #F9F9F9
veryLightGray = #EDEDED
questionMarkerColor = #818286
blockHover = veryLightGray
linkHover = #0D0D0D
darkGray = #58585A
midGray = #BABBBF
white = #ffffff
orange = #FF5E00
blue = #06398C
lightBlue = #62ADFE
gray = #555
green = #7AB317
loading_textarea_bg = #dfdfdf
browngray = #c0c0c0
textLinkColor = #254689
negative_vote_color = #FFACAC
not_verified_color = #BF6669
moderator_marker_color = inhibited
trusted_marker_color = #008c09
negative_vote_color_hover = red
positive_vote_color = inhibited
positive_vote_color_hover = linkHover
resourcePath = "{{{resourcePath}}}"

/*** Border styles ***/

separator = 1px solid lightGray
fuzzy = 1px dotted darkGray

/* ***THEMES*** */

/**** DARK THEME - everything for dark schemes should start with 'dark' *** */
darkMainColor = #FEFEFE
darkBackground = #444444
darkBtnHover = #4B4B4B
darkBrdColor = darkInhibited
darkSeparator = 1px solid darkBrdColor
darkLdbBg = #585A5B
// darkBannerBg = #292526
darkBannerBg = black
darkBannerIcon = #656565
darkInputBg = #59595A
darkBannerCol = darkLdbBg
darkNotice = orange

/*** LIGHT THEME ***/
lightBrdColor = lightGray
Banner = questionMarkerColor
lightMainColor = mainColor
lightBtnHover = #F5F5F5
lightLdbBg = #929498
lightLdbBg2 = #68757E
lightBannerIcon = #CECED0
lightBannerBg = #F1F1F1
lightBannerCol = #CECECE
lightNotice = orange

/* Variables */
challengeBannerColor = orange
challengeMarkerColor = orange
originalChallengeBannerColor = orange
