//Styling competitions

.competitionAnnounce_view
  text-align center
  .competition-announce
    border 1px solid
    padding 5px
    display inline-block

.competition_wrapper
  margin-bottom 25px
  .competition_winner
    .user_view
      display inline
      .user_avatar
        display inline
        float none
      .name.name_column
        display inline
        float none
      .author_image
        width 20px
        height auto
  .points
    margin-left 5px

.competition_title
.competition_status
.competition_winner
.competition_rules
.competition_prize
  > strong
    margin-right 10px

.competitions_view
  .competitions-title
    margin 10px 0 20px

.competition_winner
  .NOT_VERIFIED
    .not_verified_marker
      display inline-block

.competition-info
  margin-top 1em
  margin-bottom 1em
  .competition-title
    font-weight bold
    margin-bottom 0.5em
