//Styling the dark BZ theme. A theme is dark (transparent background, light text colors) when owner's site text color is light.

body.dark
  color darkMainColor
  // setting the semi-transparent background color
  .comments_view
    .conversation-header
      background rgba(0,0,0,0.07)
  .bet_view.BET_STATUS_RESOLVING_PTS > .single-item-wrapper
  .bet_view.BET_STATUS_RESOLVED_PTS > .single-item-wrapper
  .bet_view.BET_STATUS_RESOLVED > .single-item-wrapper
  .question_view_container
  .challenge_container
    background rgba(255,255,255,0.07)
  .conversation-header
  .trust-stats
  .inside-form-container
    background rgba(255,255,255,0.05)
  .ldb-show:after
    border-right-color midGray
  .context_filter_container
    border inhibited
  .ldb-show
  .ldb-hide
  .ldb-top
    background midGray
  /* .go-to-bubble */
  .alert-new-comments
    background rgba(255,255,255,0.5)
  .bz-scroll-to-top
    background rgba(255,255,255,0.25)
    &:hover
      background rgba(255,255,255,0.5)
  .top_users
    border-color darkBrdColor
    background rgba(255,255,255,0.25)
    &:hover
      border-color darkMainColor
  .currentUser_view.HAS_UNREAD_NOTIFICATIONS
    .user_notif
      .no_notif_unread
        color white
        background-color red
  .currentUser_view
    .user_notif
      .no_notif_unread
        color white
        background-color transparent
        border-color lightGray
  textarea
  .xtextarea
  input
  .submit_controls
    color white
    input
      background white
      color black
  .login-overlay
    color black
    .submit
      color black
    .submit:hover
      background-color white
    input
      background white
      color black
  // .submit_controls
  //   &.focused
  //     border-color inhibited
  .fundedComments_view
  .user_view
    background darkInputBg
    box-shadow 0 0 7px 1px darkInhibited
  .newChallenge_text_challenge
  .newComment_text_reply
  .newComment_text
    background-color darkGray
    color white
  .badge_view
    background darkInputBg
    box-shadow 0 0 7px 1px darkInhibited
  .mod-menu ul
    li:hover
      background-color lightBtnHover
      color black
  .submit
  .cancel
  .more
  .btn-embed
    color darkMainColor
    text-shadow none
    &:hover
      background-color darkBtnHover
  #contexts
    .conversation-header
      .banner
        background-color transparent
  #header-login-link
    border-color darkMainColor
    color darkMainColor
    i
      color darkMainColor
  // .login_to_comment.disabled
  //   background-color darkBtnHover
  .conversation-header-submenu
    button
      background darkInputBg
      color darkMainColor
      text-shadow none
  .share.open
  .share
    .share-fb
      i:hover
        color #3B5998
    .share-tw
      i:hover
        color #5EA9DD
    .share-mail
      i:hover
        color #FCC717
    .dropdown-menu
      background rgba(255,255,255,0.07)
  .highlight_comment
     border separator
  .promote_comment
  .mark_as_private
  .submit_bet
    div
      border separator
  .user_options
    background-color white
    border separator
    li a
      color black
  .daterangepicker .ranges li
    color lightLdbBg2
  .daterangepicker .ranges li.active
    background-color gray
    color white
    border-color gray
  .daterangepicker .ranges li:hover
    background-color gray
    color white
    border-color gray
  .daterangepicker td.active
    background-color gray
    background-image -moz-linear-gradient(center top , lightGray, gray)
  #comments
    .newChallenge_view
    .newcomment_textarea_container
      border separator
  .userLeader_view
  .main_challenge_view
  .top_note_bar
    .author_name
    .profile-points
      color darkInhibited
  .forf-ctrl button
  .main_comment_view .text
  .total_points
  .top_users
  .contexts_view .text
  .discoveryWidget_view .text
  .discoveryWidget_view .link-text
  .discoveryWidget_view .topic-title div:first-of-type
  .banner .subscription form i
    color white
  .input_forum_title
  select
    background transparent
  .no_notif_unread
    background-color darkInhibited
    color lightMainColor
    border 1px solid white
  .versus
    .vs-text
      background inhibited
  .challenge_container
    .versus
      .border
        background-color darkInhibited
    .best_marker
      border-left none
      color orange
  .add_burnzone
    .footer_burnzone
    i
      color orange
  .comment_action_group
  .customSelectInner:after
    &:hover
      color darkMainColor
  .share:hover
    i
      color darkMainColor
  .header .share:hover
    .icon-share
      color inherit
  .no_comments
    .comment_number
      background-color darkInhibited
      color black
    .comment_number:before
      border-right-color darkInhibited
  .like_section_mobile
  .like_section
    .bz-icon
      color darkInhibited
    .positive_votes
    .negative_votes
      &:hover
        .user_likes
          color darkMainColor
    .positive_votes
      i
        background-color green
        color white
    .negative_votes
      i
        background inhibited
        color white
  .leaderboard
    background-color lightGray
    .note
      &:hover
        color darkMainColor
  .autosizejs + .dropdown-menu
    li:hover
    .active
      a
        background darkInhibited
  .userNotification_view a
  .customSelectInner:after
    color darkMainColor
  .popover
    .popover-content
      a
        color mainColor
      a.learn_more_popover
        color orange
      .more
      .delete
        color mainColor
        &:hover
          color darkMainColor
  .go-to-bubble
  .alert-new-comments
    color black
  .thread-title
    .text
      &:hover
        color darkMainColor
  .table_head
    border-color darkInhibited
  #comments
    .leaderboard
      background-color transparent
    .customSelect
      .customSelectInner:after
        color darkInhibited
  .subscription
    &.open
      .dropdown-menu
        background rgba(255,255,255,0.07)
  .create_thread
  .create-comment
  .banner
  .banner a
  .banner i
  .banner label
  .banner .share:hover i
  .banner .selectize-input .item
  .show_actions
  .promote_points_needed
  .add_burnzone_short a
  .add_burnzone a
  .inhibited
  .filtering_options .btn-bet-filter
  .filtering_options .btn-filter
  .table_head
  .time
  .comment_action_group
  .like_section .user_likes
  .challenged_note
  .format_note
  .format_note a
  .majorCommentInChallenge_view .challenge_side_statement
  .answer_view .answer_wrapper .answered
  .best_marker
  .userNotification_view .notif_note
  .leaderboard .note
  .footer .subscription
  .header .share
  .forum_view .started-on
  .articleModerator_view
  .view_separate_page
  .view_separate_page a
  .user_view .points
  .user_view .close
    color darkInhibited
  .comment_wrapper
  .answer_wrapper
  .answer_wrapper .answered
  .challenge_container .options_bar
  .comment_action_group
  .newComment_view
  .challenged_note
  .best_marker
  .control_bar
  .header .subscription
  .question_view.REPLYING > .newComment_view
  .comment_view.REPLYING > .newComment_view
  .bet_view.REPLYING > .newComment_view
  .answer_view.REPLYING > .newComment_view
  .challenge_view.REPLYING > .newComment_view
  .comment_view.CHALLENGING > .newChallenge_view
  .question_view.CHALLENGING > .newChallenge_view
  .answer_view.CHALLENGING > .newChallenge_view
  .currentUser_view.HAS_UNREAD_NOTIFICATIONS .user_notif .popover
  .user_notif .popover-content
  .competition-announce
  .submit_controls
    border-color darkBrdColor
  .contexts_view
    tr:nth-child(even)
      background rgba(255,255,255,0.07)
  .popover
    background darkInputBg
  .selectize-input
    .selectize-control.multi
      background white
  .selectize-dropdown-content
    background white
    color black
  > .popover.top .arrow
    border-top-color darkInputBg
  > .popover.right .arrow
    border-right-color darkInputBg
  .forum_tags_user .selectize-input
    border-color browngray
    background transparent
  .comment_view
  .bet_view
  .question_view
  .challenge_view
    .options_bar
      .no-border
        border none
  .submit_options
    background-color lightGrayBackground
    color black
  .submit_options_button
    color darkMainColor
  .contextSummary_view
    .no_new_comments
      color darkNotice
  .contextSummary_view.HAS_NEW_COMMENTS
    border-color darkNotice
  .main_comment_view .top_note_bar
    a
      text-decoration none
  .fund.comment_action
  .fund.comment_action_group
  .funded_note
    color orange
  .challenger .majorCommentInChallenge_view.FUNDED
  .challenged .majorCommentInChallenge_view.FUNDED
  .promoted_view.FUNDED > .single-item-wrapper
  .answer_view.FUNDED > .single-item-wrapper
  .question_view.FUNDED > .single-item-wrapper
  .comment_view.FUNDED > .single-item-wrapper
  .bet_view.FUNDED > .single-item-wrapper
    border-color orange
  .thread-title
    .label.label-flat
      color darkInhibited
      border-color darkInhibited
  .userInBet.DECLINED
    color gray

  .newComment_view .bet-target
  .bet-target .selectize-input.focus
  .bet-points .bet-points-offered
  .bet-end-date
  .bet-start-forf-date
    background transparent
  .bet-ratio select
  select.bet-type
  .btn-group.resolve-ctrl .btn-default
    color white
    .caret
      border-top-color white
  .accepting-ctrl .bet-points-accepted
  .bet-ratio option
  .bet-type option
  .btn-group.resolve-ctrl.open .btn-default
    color black
    .caret
      border-top-color black
  .profile-points
    border-color lightGray
/*white for < #777, black for > #777*/
