// The stylesheet used for customizing BurnZone when loaded on Internet Explorer "browsers" (currently targeting IE9+)

.lt-ie9
  .description_bar
    p
      width 100px
      /* filter s('progid:DXImageTransform.Microsoft.BasicImage(rotation=1)') */
  .currentUser_view
    .user_notif
      .popover-content
        width 330px
  body.light
    .main_question_view
    .challenge_container
    .single-item-wrapper.HIGHLIGHTED .main_comment_view
      background transparent
      filter s('progid:DXImageTransform.Microsoft.gradient(startColorstr=#07000000,endColorstr=#07000000)')
      zoom 1
    .conversation-header
    .inside-form-container
    .dropdown-menu-container
      background transparent
      filter s('progid:DXImageTransform.Microsoft.gradient(startColorstr=#0A000000,endColorstr=#0A000000)')
      zoom 1
    .ldb-top
      background transparent
      filter s('progid:DXImageTransform.Microsoft.gradient(startColorstr=#3F000000,endColorstr=#3F000000)')
      zoom 1
    .alert-new-comments
      background transparent
      filter s('progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000)')
      zoom 1
  body.dark
    .main_question_view
    .challenge_container
    .single-item-wrapper.HIGHLIGHTED .main_comment_view
      background transparent
      filter s('progid:DXImageTransform.Microsoft.gradient(startColorstr=#0AFFFFFF,endColorstr=#0AFFFFFF)')
      zoom 1
    .conversation-header
    .inside-form-container
    .dropdown-menu-container
      background transparent
      filter s('progid:DXImageTransform.Microsoft.gradient(startColorstr=#0CFFFFFF,endColorstr=#0CFFFFFF)')
      zoom 1
    .ldb-top
      background transparent
      filter s('progid:DXImageTransform.Microsoft.gradient(startColorstr=#3FFFFFFF,endColorstr=#3FFFFFFF)')
      zoom 1
    .alert-new-comments
      background transparent
      filter s('progid:DXImageTransform.Microsoft.gradient(startColorstr=#7FFFFFFF,endColorstr=#7FFFFFFF)')
      zoom 1
