//Styling the login popup where users can log in

.login-overlay
  position absolute
  z-index 111
  width 20%
  min-width 200px
  padding 1%
  background white
  border-radius 4px
  border 2px solid browngray
  .submit
    display block !important
    width 100%
    margin-top 15px
  .close-login-overlay
    font-weight bold
    color inherit
    cursor pointer
    &:hover
      text-decoration none

.submit_controls
  border-width 0 1px 1px
  border-style solid
  border-color browngray
  border-radius 0
  .want-bet
    float none
  .want-bet
  .promote_checkbox
  .mark_private_checkbox
      margin 3px
  .submit_options_button
    background none
    box-shadow none
    // border none
    text-shadow none
  .btn-group.open 
    .submit_options_button
      background none
      box-shadow none
  .btn-group > .btn + .dropdown-toggle
    box-shadow none
  .submit_options
    z-index 2
    border none
    border-radius 0
    box-shadow none
    min-width 125px
    margin 5px 5px -5px 0
    label
      font-size 10px
      margin-bottom 0
    input
      margin-bottom 0px
    &:hover
      display block

.login_image
  width auto
  vertical-align middle
  height 24px

.login-link
  margin 0 0 0 5px
  display inline-block

.create_user_note
  margin 15px 0 5px

.logins_view
  margin-top 4px

.newChallenge_view
  .logins_view
    width auto

.create_user_container
  .popover.right
    width auto

input
  &.anon_name
  &.anon_pass
    display block
  
input[type="text"].promote_points_number
    margin 0px
    padding 0

.anon_email
  display inline
  margin-right 10px
  
.newChallenge_view
  .login_to_comment
    margin-top 0
