fetchMoreLoading()
  .control_bar
    .more
      display none
    .loading
      display inline-block
      margin-top 10px
    text-align center

fetchMore()
  .control_bar
    .more
      display none
    .loading
      display none

fetchMoreHas()
  .control_bar
    .more
      display inline-block
    .loading
      display none
      
