{{#if option_show_in_forum}}
  <label title='{{translate "show_in_forum_title"}}'>
    <input type='checkbox' class='show_in_forum' />
    {{translate 'show_in_forum'}}
  </label>
{{/if}}
{{#if option_show_private}}
  <label title='{{translate "private_thread_title"}}'>
    <input type='checkbox' class='private' />
    {{translate 'forum_mark_private'}}
  </label>
{{/if}}
