<div class="badge_view CHECK-HEIGHT">
  <div class="close pull-right">
    {{translate "close"}}
  </div>
  <div class="clearfix"></div>

  <div class="ldb-top">
     <h5 title="Badge leaderboard">{{badge.title}}</h5>
  </div>
  <a class="note" href="https://burnzone.desk.com/customer/portal/articles/1052629-how-do-i-get-points-" target="_blank" title="{{translate "how_to_points"}}">{{translate "how_to_points"}} <i class="icon-question-sign"></i></a>
  <div class="users_view"></div>
</div>
