<div class="media">
  <div class="pull-left">
    <div class="author_image_container media-object">
    </div>
  </div>

  <div>
    <h4>
      <a class="media-heading" href="#brzn/users/{{user.attributes._id}}">{{user.attributes.name}}</a>
    </h4>
    <p class="points">{{model.attributes.points}} {{translate "points"}}</p>
  </div>
</div>
<hr>

