<h3 class="competitions-title">{{translate "competitions"}}</h3>

<div class="competitions_view"></div>
<div class="control_bar">
  <button class="more">
    {{translate "show_more"}}
    <i class="icon-angle-down"></i>
  </button>
</div>

