<label class="checkbox">
  {{translate "subscribe_updates"}}
  <input type="checkbox" class="subscribe_content" value="SUBSCRIBE_CONTENT" />
</label>

<form class="form-inline conversation-header-submenu CHECK-HEIGHT">
  <input type="text" class="subscribe_email_content input-medium" placeholder="youremail@domain.com" />
  <button class="btn btn-small btn-block">
    <i class="icon-ok"></i>
    {{translate "subscribe"}}
  </button>
</form>
