<table>
  <tr>
    <td>Visible views</td>
    <td>{{visible_views}}</td>
  </tr>
</table>
<button id="debug_render_context">Render context/forum</button>
<button id="debug_refresh">Render</button>
<button id="debug_report_height">Report height</button>
<button id="debug_render_simple_view">Render simple view</button>
