<div class="edit_comment">
  <div contenteditable="true" class="xtextarea input_comment edit_comment_text">{{model.attributes.text}}</div>
  <button class="edit_comment_save submit">
    {{translate "edit_comment_save"}}
  </button>
  <button class="edit_comment_cancel cancel">
    {{translate "edit_comment_cancel"}}
  </button>
</div>
