<form action="{{{app.logins.thirdParty.facebook.loginUrl}}}/fake" target="_blank" class="clear">
  <img class="login_image" src="{{resource "/img/f_logo.png"}}"/>
  <input type="text" name="fbuid" placeholder="{{translate "enter_fb_uid"}}"/>
</form>