<div class="row-fluid footer">
  <div class="span12 burnzone-powered">
    {{#if appIsForum}}
      <div class="subscription pull-left">
        <div class="convSubscription_view"></div>
      </div>
    {{/if}}
    <a class="pull-right burnzone-logo" href="http://theburn-zone.com/" target="_blank" title="{{translate "title_logo"}}">
      <img src="{{resource "/img/m/logo.png"}}" class="logo pull-right"/>
    </a>
    <div class="add_burnzone_short pull-right">
      <a href="http://www.theburn-zone.com/signup" target="_blank">
        {{{translate "footer_add_burnzone_short"}}}
      </a>
    </div>
    <div class="center-align-burnzone">
      <div class="add_burnzone">
        <a href="http://www.theburn-zone.com/signup" target="_blank">
          <i class="icon-fire"></i>
          {{{translate "footer_add_burnzone"}}}
        </a>
      </div>
    </div>
  </div>
</div>
