<div class="btn-block">
  <button class="btn comments_per_page more span6" data-value="20" href="#">
    {{translate "show_more"}}
  </button>
  <button class="btn comments_per_page more span6" data-value="0" href="#">
    {{translate "show_all_more"}}
  </button>
</div>

<div class="loading">
  {{!-- <i class="icon-spinner icon-spin"></i> --}}
  Loading...
</div>
