<div class="newcomment_avatar author_image_container pull-left hidden-phone"></div>
<span class="newComment_text pull-left">{{translate "start_commenting"}}</span>
<span class="newComment_text_reply pull-left">{{translate "start_replying"}}</span>
<div class="newcomment_textarea_container clearfix">
  <div class="description_bar">
    <i class="icon-question-sign"></i>
  </div>
  {{> new_comment_cnt_area}}
</div>
<div class="clearfix"></div>
