<div class="input_forum_title_container">
  <input type="text" class="input_forum_title pull-left" placeholder="{{translate "write_forum_title"}}"/>
  <div class="input_forum_title_counter" title="{{translate "title_input_forum_title_counter"}}"></div>
</div>
<div class="newcomment_textarea_container pull-left">
  <input type="text" class="forum_tags_user" value="" placeholder="{{translate "select_tags_placeholder"}}"/>
  <div class="description_bar pull-left">
    <i class="icon-question-sign"></i>
  </div>
  {{> new_comment_cnt_area}}
</div>

<div class="clearfix"></div>
