<div class='collection_view'></div>
<div class="btn-block">
  <div class="control_bar">
    <button class="more btn">{{translate "show_more"}}</button>
    <div class="loading">
      <i class="icon-spinner icon-spin"></i>
    </div>
  </div>
</div>
