<div class="promote_popup pull-right">

  <div class="current_promote_points"></div>

  <div>
    {{translate "add_points"}} <input type="text" class="promote_points_number" maxlength="3"> {{translate "points"}}
  </div>
  
  <div><small class="promote_points_needed"></small></div>

  <div>
    <button class="self_promote_button btn-embed">{{translate "promote"}}</button>
    <button class="self_promote_cancel_button btn-embed">{{translate "cancel"}}</button>
  </div>

</div>
