<div class="row-fluid notifications_view"></div>
</div>

<div class="conversation-header">
  <div class="banner">
    <span class="subscription">
      <div class="convSubscription_view"></div>
    </span>
  </div>
</div>
