#features
  .feature
    h3
      text-align center
  .lead
    line-height 2em
    font-size 16px
    text-align center
    margin-bottom 50px
    margin-top 40px
  .additional_feature
    text-align center
    margin-bottom 25px
    p
      text-align left
