@import "variables"

#pricing
	margin-top 20px
	.pricing-table
		margin 10px 0px
		padding 0px 15px
		text-align center
		.free-plan .plan h3 {
				line-height 78px
		}
		.plan {
			background white
			border 1px solid gray
			border-radius 5px
			color #333
			margin-bottom 15px
			margin-right 0px
			padding 20px
			position relative
			text-shadow 0px 1px rgba(255, 255, 255, 0.8)
			a {
				text-decoration none
				cursor pointer
			}
			img {
				width 100%
			}
			h3 {
				background-color bootstrapLightGray
				border-radius 2px 2px 0px 0px
				font-size 20px
				margin -20px -20px 65px
				padding 5px 0
				line-height 26px
				color bzBlue
				font-weight bold
				span.price-free,
				span.price-premium {
				  background white
				  border 5px solid white
				  border-radius 100px
				  box-shadow 0 5px 20px #ddd inset, 0 3px 0 #999 inset
				  color bzBlue
				  display block
				  font bold 16px / 20px Georgia, Serif
				  height 100px
				  margin 10px auto -65px
				  padding-top 24px
				  width 100px
				}
			}
		}
		.btn
			margin-top 5px
			background-color orange
			padding 4px 9px
			margin-bottom 5px
			color white
		ul
			list-style outside none none
			margin 20px 0px 0px
			padding 0px
			li
				border-top 1px solid gray
				padding 10px 0px
