/* COLORS */

bzBlue = #34495E
bzBlueHover = #5F7489
lightestGray = #EAEAEA
lightGray = #ADADAD
gray = #DDDDDD
bootstrapLightGray = #EEEEEE
activeMenu = #F5F5F5
backgroundGray = #F7F7F7
orange = #F58622
darkerOrange = #D77A16
