@font-face {
	font-family: 'burnzone';
	src: url('{{{resourcePath}}}/font/burnzone.eot');
	src: url('{{{resourcePath}}}/font/burnzone.woff') format('woff'), url('{{{resourcePath}}}/font/burnzone.ttf') format('truetype'), url('{{{resourcePath}}}/font/burnzone.svg#burnzone') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-bz-"], [class*=" icon-bz-"] {
	font-family: 'burnzone';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-bz-a-cat:before {
	content: "\e600";
}

.icon-bz-b-cat:before {
	content: "\e601";
}

.icon-bz-side-menu:before {
	content: "\e602";
}

.icon-bz-arrow:before {
	content: "\e603";
}

.icon-bz-close:before {
	content: "\e604";
}

.icon-bz-time:before {
	content: "\e605";
}

.icon-bz-view:before {
	content: "\e606";
}

.icon-bz-points:before {
	content: "\e607";
}

.icon-bz-user:before {
	content: "\e608";
}

.icon-bz-alert:before {
	content: "\e609";
}

.icon-bz-search:before {
	content: "\e60a";
}

.icon-bz-settings:before {
	content: "\e60b";
}

.icon-bz-comment-line:before {
	content: "\e60c";
}

.icon-bz-comment:before {
	content: "\e60d";
}

.icon-bz-facebook:before {
	content: "\e60e";
}

.icon-bz-twitter:before {
	content: "\e60f";
}

.icon-bz-mail:before {
	content: "\e610";
}

.icon-bz-plus-only:before {
	content: "\e611";
}

.icon-bz-flame:before {
	content: "\e612";
}

.icon-bz-support:before {
	content: "\e613";
}

.icon-bz-share:before {
	content: "\e614";
}

.icon-bz-plus:before {
	content: "\e615";
}

.icon-bz-minus:before {
	content: "\e616";
}

.icon-bz-flag:before {
	content: "\e617";
}

.icon-bz-more-actions:before {
	content: "\e618";
}

.icon-bz-avatar:before {
	content: "\e619";
}

.icon-bz-promo:before {
	content: "\e61a";
}

.icon-bz-Highlight:before {
	content: "\e61b";
}

.icon-bz-trophy-cir .path1:before {
	content: "\e61c";
	color: rgb(255, 255, 255);
}
.icon-bz-trophy-cir .path2:before {
	content: "\e61d";
	margin-left: -1em;
	color: rgb(195, 195, 194);
}
.icon-bz-trophy-cir .path3:before {
	content: "\e61e";
	margin-left: -1em;
	color: rgb(237, 28, 36);
}

.icon-bz-trophy .path1:before {
	content: "\e61f";
	color: rgb(195, 195, 194);
}
.icon-bz-trophy .path2:before {
	content: "\e620";
	margin-left: -1em;
	color: rgb(237, 28, 36);
}
