.openGraphEmbed
  border 1px solid LightGray
  border-radius 5px
  margin-top 5px
  margin-bottom 5px
.openGraphCell
  vertical-align top
  padding 5px
.text img.embedThumbnail
  max-height 120px
  max-width 150px
.embedTitle
  font-weight bold
.embedSiteName
  text-transform uppercase
  font-size x-small
.embedVideo
  max-height 250px
.text img.embedImage
  max-height 250px
